footer {
  padding-left:5%;
  bottom:0px;
  position:absolute;
  font-size:75%;
}
.push {
    padding-left:5%;
}
.pushbottom {
    padding-bottom: 3%;
}
.pushtop {
    padding-top: 3%;
}
.linkActionBtn {
    padding-top: 20px;
    padding-bottom: 20px;
}
.form-control#custom {
    width: 120px;
    display: inline;
}
