<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^api$ /api.php [L]
RewriteRule ^api/$ /api.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([\pL\pN-\._~:\/@!\$&\'\(\)\*\+,;%]+)\?([\pL\pN-\._~:\/@!\$&\'\(\)\*\+,;%]+)$ /r.php?u=$1&lkey=$2 [L,QSA]
RewriteRule ^([\pL\pN-\._~:\/@!\$&\'\(\)\*\+,;%]+)/?$ /r.php?u=$1 [L,QSA]
RewriteRule ^t-([\pL\pN-\._~:\/@!\$&\'\(\)\*\+,;%]+)/?$ /r.php?u=t-$1 [L,QSA]
RewriteRule ^/?\+([\pL\pN-\._~:\/@!\$&\'\(\)\*\+,;%]+)$ /stats.php?bv=$1 [L,QSA]
</IfModule>
                            
