footer {
  padding-left:5%;
  bottom:0px;
  position:absolute;
  font-size:75%;
}
#footer {
    padding-left:5%;
    font-size:75%;
}
table {
    table-layout: fixed;
}
td {
    word-wrap: break-word;
}