<!-- Please append this to your web.config if you are using IIS -->
<rewrite>
  <rules>
    <rule name="rule 3Z" stopProcessing="true">
    	<match url="^([a-zA-Z0-9]+)\?([a-zA-Z0-9]+)$"  />
    	<action type="Rewrite" url="//r.php?u={R:1}&amp;lkey={R:2}"  appendQueryString="true" />
    </rule>
    <rule name="rule 4Z" stopProcessing="true">
    	<match url="^([a-zA-Z0-9]+)/?$"  />
    	<action type="Rewrite" url="//r.php?u={R:1}"  appendQueryString="true" />
    </rule>
    <rule name="rule 5Z" stopProcessing="true">
    	<match url="^t-([a-zA-Z0-9]+)/?$"  />
    	<action type="Rewrite" url="//r.php?u=t-{R:1}"  appendQueryString="true" />
    </rule>
    <rule name="rule 6Z" stopProcessing="true">
    	<match url="^/?\+([a-zA-Z0-9]+)$"  />
    	<action type="Rewrite" url="//stats.php?bv={R:1}"  appendQueryString="true" />
    </rule>
  </rules>
</rewrite>
