.content-div {
    padding-top: 20px;
    text-align: left;
}

.license {
    font-size: 70%;
    padding-top: 40px;
}

.title {
    font-size: 70px;
}

.about-contents {
    font
}

.license-btn {
    margin-top: 30px;
    width: 20%;
}
