.content-div {
    padding-top: 1.25em;
    text-align: left;
}

.license {
    font-size: 80%;
    margin-top: 2.5em;
    width: auto;
    color: black;
}

.license-btn {
    margin-top: 1.85em;
    margin-bottom: 3em;
    width: auto;
}

.logo-img {
    width: 18em;
}

.logo-well {
    width: 19em;

    -webkit-animation: colorpulse 20s infinite;
    animation: colorpulse 20s infinite;
    -moz-animation: colorpulse 20s infinite;
}
