.admin-nav-item {
    margin-bottom: 5px;
}

.stats-icon {
    margin-left: 0.3em;
}

.change-password {
    width: 150px;
}

.change-password-btn {
    margin-top: 15px;
}

.password-box {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hidden-metadata {
    display: none;
}

.api-quota {
    display: inline;
}

.users-heading {
    display: inline-block;
    margin-bottom: 0.9em;
    margin-right: 0.5em;
}

input.api-quota {
    display: inline;
    width: 9em;
    font-size: .85em;
    height: .85em;
    padding-left: 0.8em;
}

.wrap-text {
    word-wrap: break-word;
}

@media (min-width: 700px) {
    table {
        table-layout: fixed;
    }
}

a.new-user-add {
    margin-left: 0.5em
}
