.custom-url-field {
    display: inline;
    width: 100px;
}

.site-url-field {
    color: green;
    display: inline;
}

.long-link-input {
    margin-bottom: 25px;
}

.tips {
    margin-top: 20px;
}

.check-btn {
    margin-bottom: 30px;
}

#link-availability-status {
    margin-bottom: 20px;
}

.visibility-toggler {
    margin-bottom: 2em;
}

.btn-glq {
    transition: transform .8s;
    content: '';
    background: linear-gradient(to right,#5519ee,#9a23e6,#ff286f);
 }

.btn-glq {
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    transition: transform .2s;
    padding: 14px 20px 13px;
    font-size: calc(12px + 2 * (100vw - 320px)/1080);
    border-radius: 100px;
    overflow: hidden
}

.btn-glq:active {
    transform: scale(.9)
}

.btn-glq:before {
    transition: transform .8s;
    content: '';
    background: linear-gradient(to right,#5519ee,#9a23e6,#ff286f)
}

.btn-glq.bs:before {
    background: linear-gradient(to left,#5519ee,#9a23e6,#ff286f)
}

.btn-glq.buni:before {
    background: linear-gradient(to right,#9a23e6,#ff286f,#ff007a)
}

.btn-glq:hover:before {
    transform: translateX(-50%)
}

.btn-glq img {
    width: 20px;
    top: -3px;
    margin-left: 5px
}

.btn-glq:hover {
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    transition: transform .2s;
    padding: 14px 20px 13px;
    font-size: calc(12px + 2 * (100vw - 320px)/1080);
    border-radius: 100px;
    overflow: hidden
}

.bsecond {
    color:#fff;
    font-weight:bold;
    cursor:pointer;
    transition:transform .2s;
    padding: 14px 20px 13px;
    font-size: calc(12px + 2 * (100vw - 320px)/1080);
    border-radius:100px;
    overflow:hidden;
    background:linear-gradient(to right, #ff007a, #ff286f, #9a23e6);
}

.bsecond:active {
    transform:scale(.9);
}

.bsecond:before {
    transition:transform .8s;
    content:'';
    background: linear-gradient(to right, #25b8d5, rgb(75 0 255), rgb(43 133 210));
}

.bsecond.bs:before {
    background:linear-gradient(to left, #5519ee, #9a23e6, #ff286f);
}

.bsecond.buni:before {
    background:linear-gradient(to right, #9a23e6, #ff286f, #ff007a);
}

.bsecond:hover:before {
    transform:translateX(-50%);
}

.bsecond img {
    width:20px;
    top:-3px;
    margin-left:5px;
}
