.custom-url-field {
    display: inline;
    width: 6.25em;
}

.site-url-field {
    color: green;
    display: inline;
}

.long-link-input {
    margin-bottom: 1.55em;
}

.tips {
    margin-top: 1.25em;
}

.check-btn {
    margin-bottom: 1.85em;
}

#link-availability-status {
    margin-bottom: 1.25em;
}

.visibility-toggler {
    margin-bottom: 2em;
}
