/* lobster-regular - latin */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lobster-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lobster Regular'), local('Lobster-Regular'),
       url('../fonts/lobster-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lobster-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lobster-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lobster-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lobster-v21-latin-regular.svg#Lobster') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v16-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}


.navbar-brand {
    font-family: "Lobster";
}

.setup-body {
    font-family: 'Open Sans', sans-serif;
}

.setup-logo {
    height: 70px;
    margin-bottom: 40px;
}

body {
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/img/setup.jpg);
}

.setup-center {
    text-align: center;
}

.setup-form {
    margin: 0 auto;
}

.setup-item {
    width: 650px;
}

.setup-body {
    margin-top: 100px;
}

.setup-form-buttons {
    margin-top: 40px;
    margin-bottom: 25px;
    text-align: center;
}

.setup-form-buttons > input {
    width: 150px;
    margin-right: 20px;
}

.setup-footer {
    text-align: center;
}

.footer-link {
    color: grey;
}

.footer-link:hover {
    color: grey;
}

.footer-well {
    margin-top: 30px;
}

h4, p {
    margin-top: 20px;
}

.setup-qmark {
    width: 2em;
    margin-left: 0.3em;
    display: inline;
}

.popover-content {
    text-transform: none;
}
