.result-box {
    width: 50%;
    display: block;
    margin : 0 auto;

}

.btn {
    margin-top: 30px;
}

.content-div {
    text-align: center;
}

.qr-code-container {
    display: none;
    margin-top: 2em;
}

.qr-code-container img {
    display: inline !important;
}

.input-group {
    width: 40vw;
    margin: 0 auto;
}

.input-group-addon {
    padding: 0px 10px;
    cursor: pointer;
}
