.result-box {
    width: 50%;
    display: block;
    margin : 0 auto;

}

.back-btn {
    margin-top: 30px;
}

.content-div {
    text-align: center;
}

.qrCodeContainer {
    display: none;
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 20px auto 0 auto;
    background-color: white;
    border: 1px #b7b7b7 solid;
    border-radius: 7px;
}
