.form-field {
    margin-bottom: 25px;
}

.right-col-one {
    margin-top: 83px;
}

.right-col-next {
    padding-top: 25px;
}

.title {
    padding-bottom: 20px;
}

.login-prompt {
    padding-top: 15px;
}

.g-recaptcha {
    margin-bottom: 2em;
}
