.form-field {
    margin-bottom: 1.55em;
}

.right-col-one {
    margin-top: 5.2em;
}

.right-col-next {
    padding-top: 1.55em;
}

.title {
    padding-bottom: 1.25em;
}

.login-prompt {
    padding-top: 0.95em;
}

.g-recaptcha {
    margin-bottom: 2em;
}
