.stats-header {
    text-align: center;
    overflow-wrap: break-word;
}

.bottom-padding {
    margin-bottom: 3em;
}

#mapChart {
    width: 100%;
    height: 32em;
}

.ng-root {
    margin-bottom: 4em;
}

h4 {
    display: inline-block;
}
