h1, h2, h3, h4, h5, h6 {
    text-transform: none !important;
}

img {
    /* Force auto height & width to prevent deformed images on mobile */
    width: auto !important;
    height: auto !important;
}
