<div class="modal fade" id="edit-user-api-info-{{ userId }}" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edit User API Settings</h4>
            </div>
            <div class="modal-body">
                <p>
                    <span>API Active</span>:

                    <code class='status-display' ng-bind="apiActive"></code>

                    <a ng-click="toggleAPIStatus()" class='btn btn-xs btn-success'>toggle</a>
                </p>

                <p>
                    <span>API Key: </span><code class='status-display' ng-bind="apiKey">{{api_key}}</code>
                    <a ng-click="parentGenerateNewAPIKey($event)" class='btn btn-xs btn-danger'>reset</a>
                </p>

                <p>
                    <span>API Quota (req/min, -1 for unlimited):</span> <input type='number' class='form-control api-quota' ng-model="apiQuota">
                    <a ng-click="updateAPIQuota()" class='btn btn-xs btn-warning'>change</a>
                </p>
            </div>
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
